@import "./styles/breakpoints";
@import "./styles/reset";
@import "./styles/mixins";
@import "./styles/theme";
@import "./styles/layout";
@import "./styles/ui/scores";
@import "./styles/ui/";
@import "./styles/ui/button";
@import "./styles/ui/card";
@import "./styles/typography";
@import "./styles/ui/header";
@import "./styles/ui/footer";
@import "./styles/helpers";
@import "./styles/ui/form";

body {
  background: $mint;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
  font-family: "Teko", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0 0 0 0;
  overflow: hidden;
}

.app {
  align-items: center;
  display: flex;
}
